
@font-face {
    font-family: 'Italiana';
    src: url('../font/Italiana-Regular.ttf');
}

@font-face {
    font-family: 'Libre';
    src: url('../font/LibreBaskerville-Regular.ttf');
}


body{
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: black;
}

.containerAncre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.containerAncre > div {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-family: 'Libre';
    gap:1.5rem;
    padding:0 1.5rem;
    width: 100%;
}

.containerAncre > div > a {
   color:white;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 1.5rem;

}

.burger{
    transform: rotate(90deg)!important;
    
}

.texteBtn1{
    display: none;
}

.containerMobilierDesktop{
    display: flex;
    font-size: 0.5rem;
    justify-content: end;
    padding-right: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  transform: translateY(100%);
  opacity: 0;
}



.menu {
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    transform: translateX(100%);
    right:0;
    transition: transform 0.3s linear;
      mix-blend-mode: difference;
}


.menuOpen{
    transform: translate(0);
    transition: transform 0.3s linear;
}
.containerMobilierDesktop > p {

   
text-align: right;

font-family: 'Libre';

font-size: 0.8rem;
letter-spacing: 0.1rem;

width: 19rem;
padding-right: 0.5rem;
}

#menuBurger{
    transform: translate(100%,-100%);
    cursor: pointer;
    z-index: 1;
    
}

circle {
    cx: 20%;
    cy: 85%;
    r:7%
}


#circleLogo{
    x:11%;
     y:76%;
      height:18%;
       width:18%;
       z-index: 3;
      
}

.containerAdressContact{
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding-left: 1rem;
    padding-top: 2rem;
    font-family: 'Libre';
}

.containerTitreContact{
    font-size: 1.5rem;
    padding-left: 1rem;
    margin-top: 2rem;
    font-family: 'Libre';
}

.copyright{
    color:#727272;
    margin:0;
    
}

.address{
    display: flex;
    flex-direction: column;
    gap:2rem
}
.containerTitreContact > h1{
   margin:0;
   overflow:hidden;
  
}

.containerTitreContact > img{
    width: 5rem;
    
}
/*.containerAccueil{
    min-height: 100vh;
    width: 100%;
    background-image: url('../images/weldingAccueilRecadrerB&WContrast.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 62%;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10rem;
    
}

header{
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0.5rem 0.7rem;
    align-items: center;
    padding-top: env(safe-area-inset-top);

}

.coordonneesHeader,header,.containerLienMobilier{
    display: flex;
}

.coordonneesHeader{
    flex-direction: column;
    font-family: 'Libre';
    font-size: 1rem;
}

.containerTitre{
    margin-top: -5rem;
}

.containerTitre>p{
    text-align: right;
   
}

.titreAccueil{
    text-align: right;
    font-size: 3.1rem;
    padding-right: 1.2rem;
    margin-bottom: 0.5rem;
    font-family: 'Italiana';
}

.ligne{
    height: 0.1rem;
    background-color: white;
}

.ligne1{
    width: 3rem;
    float: right;
}

.ligne2{
    height: 6rem;
    width: 0.1rem;
    background-color: white;
}

.containerTexte{
display: flex;
}

.containerTexte   > div:first-child{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.texteAccueil{
   padding-left:4rem;
   padding-right:2rem;
   font-size:0.9rem
}

.containerSociaux{
    display: flex;
    flex-direction: column;
    gap:0.6rem;
    width: 10%;
    padding-bottom: 1rem;
    margin-right: 0.5rem;
}

.rond{
    height: 2rem;
    width: 2rem;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

.and{
    margin-bottom: 1rem;
    display: inline-block;

}

.containerInformation,.containerAllLienMobilier{
    display: flex;
    flex-direction: column;
}


.containerAllLienMobilier{
    margin-bottom: 5rem;
    gap:0.8rem
}

.containerAllLienMobilier{
   align-items: end;
   
}

.containerLienMobilier{
    gap:1rem;
    align-items: center
}

.lienMobilier{
    text-decoration: none;
    color:#74E5B6;
    font-size: 1rem;
}

.ligneVert{
    background-color: #74E5B6;
    height: 0.1rem;
}

.ligneVert1{
width: 1rem;
}
.ligneVert2{
    width: 1.5rem;
}
.ligneVert3{
    width: 2rem;
}

.reseauSociaux{
    padding: 0.3rem;
}

.section{

}

#section1{
    background-color: blueviolet;
}

#section2{
    background-color: rgb(20, 240, 101)!important;
}

#section3{
    background-color: rgb(240, 192, 20);
}

*/

.section{
    height: 100vh;
}

.fp-table{
    justify-content: start!important;
}

#section1 > .fp-overflow{
    display: flex;
    flex-direction: column;
    justify-content: space-between!important;
    height: 100vh;
    overflow: hidden;
    position: relative;
}


#section2{
    background-color: black;
    color:white;

}


.containerTitleSpiral1{
    transform: translate(-50%,0);
    opacity: 0;
}

#section1{
    /*background-image: url('../images/weldingAccueilRecadrerB&WContrast.png');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 62%;
    color:white;
    position: relative;
}

.coordonneesHeader,header,.containerLienMobilier{
    display: flex;
}

.coordonneesHeader > span{
    letter-spacing: 0.15rem;
}

header{
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0.5rem 0.7rem;
    align-items: center;
}

.coordonneesHeader{
    flex-direction: column;
    font-family: 'Libre';
    font-size: 1rem;
    line-height: 1.5rem;
    transform: translate(-100%,-100%);
    opacity: 0;
}

.containerBurgerMenu{
    position: fixed;
    top:0;
    right:0;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    font-size: 1rem;
}

.containerTitre{
    margin-top: -5rem;
}

.containerTitre>p{
    text-align: right;
   
}

.titreAccueil{
    text-align: right;
    font-size: 12vw;
    padding-right: 1.2rem;
    font-family: 'Italiana';
    padding-top: 5rem;
    opacity: 0;
    transform: translateX(100%);
}

.ligne{
    height: 0.1rem;
    background-color: white;
}

.spanLoad{
   color:white;
   font-size: 4rem;
   position: absolute;
   left:6%;
   bottom:0;
}

.ligne1{
    width: 3rem;
    float: right;
    transform: scaleX(8);
    transform-origin: right;
}

.ligneVertical1{
    height: 100%;
    width: 0.1rem;
    background-color: white;
    position: absolute;
    top:-5.5rem;
    z-index: 2;
    left:40%;
    transform: scaleY(0);
    mix-blend-mode: difference;
}

.ligneVertical2{
    height: 100px;
    width: 0.1rem;
    background-color: white;
    position: absolute;
    left:40%
}

.ligneHorizontal{
    height: 0.1rem;
    width: 100%;
    background-color: white;
    position: absolute;
}

.containerTexte{
display: flex;
justify-content: end;
}

#containerDiv{
    height: 240px;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    transform: translateY(55%);
    width: 100%;
    margin-top:2rem;
}

.containerTexte   > div:first-child{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.texteAccueil{
   padding-left:4rem;
   padding-right:2rem;
   font-size:0.9rem
}

.containerSociaux{
    display: flex;
    flex-direction: column;
    gap:0.6rem;
    width: 10%;
    padding-bottom: 1rem;
    margin-right: 0.5rem;
}

.rond{
    height: 2rem;
    width: 2rem;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    transform: translate(100%,100%);
    opacity: 0;
}

.and{
    margin-bottom: 1rem;
    display: inline-block;

}

.containerInformation,.containerAllLienMobilier{
    display: flex;
    flex-direction: column;
}


.containerAllLienMobilier{
    margin-bottom: 5rem;
    gap:0.8rem
}

.containerAllLienMobilier{
   align-items: end;
   
}

.containerLienMobilier{
    gap:1rem;
    align-items: center
}

.lienMobilier{
    text-decoration: none;
    color:#74E5B6;
    font-size: 1rem;
}

.ligneVert{
    background-color: #74E5B6;
    height: 0.1rem;
}

.ligneVert1{
width: 1rem;
}
.ligneVert2{
    width: 1.5rem;
}
.ligneVert3{
    width: 2rem;
}

.titreSection2, .textSection2 {
    transform: translate(-50%,0);
    opacity: 0;
  }


.reseauSociaux{
    padding: 0.3rem;
}

.containerSousAccueil{
    top:30%;
    opacity: 1;
    font-family: 'Libre';
}

.containerSousAccueil > h2{
font-size: 3rem;
margin:0.5rem 0;
padding: 1rem;
}

.containerSousAccueil > p{
    padding: 1rem 2rem 0 1rem;
    margin:0
}
    
#section2 > .fp-overflow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  position: relative;
  overflow: initial;
}

.titreContact span:nth-of-type(1){
    transform: translateY(100%);
 
}
.titreContact span:nth-of-type(1),.titreContact span:nth-of-type(2){
    opacity: 0;
    display: inline-block;
  
}
.titreContact span:nth-of-type(2){
    transform: translateX(-100%);
    
}

.anim-container > p {
    transform: translateX(-40%);
    opacity: 0;
}

.divTest{
    overflow: hidden;
    height: 100%;
    transform-origin: bottom;
    transform: translateY(100%);
    position: absolute;
    width: 100%;
}

.imageSlide{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.texteBtn{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.2rem;
    align-items: flex-start;
}
.texteBtn > span{
    font-size: 0.9rem;
    font-family: 'Italiana';
    
}

.texteBtn > a,.containerDriven > a{
    border-left: 2px solid white;  /* Bordure à gauche */
    border-top: 2px solid white;   /* Bordure en haut */
    border-bottom: none; /* Bordure en bas */
    border-right: 2px solid white; /* Aucune bordure à droite */
    /* Autres styles pour votre lien */
    text-decoration: none; /* Enlève le soulignement par défaut des liens */
    color: rgb(255, 255, 255); /* Couleur du texte du lien */
    padding: 0.7rem 1rem;
    font-family: 'Libre';
    font-weight: bold;
    letter-spacing: 0.2rem;
    
}

.containerTexteBtn{
    display: none;
}

.divTest4{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#section3{
    background-color: black;
    color:white
}

#section3 > .fp-overflow{
    height: 100vh;
    justify-content: center!important;
    display: flex;
}

.containerDriven{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    align-items: flex-end;
    overflow: hidden;
    font-family: 'Libre';
    position: absolute;
    text-align: right;
}

.containerDriven > h2{
    font-size: 3rem;
    margin: 0;
    font-family: 'Libre';
    font-weight: bold;
}
.containerDriven > span,.containerDriven > p ,.containerDriven > a, .containerDriven > h2{
    transform: translateX(65%);
    margin: 0 1rem;
    opacity: 0.5;
    will-change: transform,opacity;
}

.containerDriven > span,.containerDriven > p ,.containerDriven > a {
    font-family: 'Libre';
}

.containerDriven > span{
    font-size: 0.9rem;
}

.containerDriven > a {
    font-size: 1.1rem;
    margin-top: 0.2rem;
}

#section3 > .fp-overflow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section4 > .fp-overflow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
   overflow-x: hidden;
}

#section4{
    background-color: black;
    color:white
}



.titleSpiral,.textSpiral{
    transform: translateY(0);
}


.containerTexteSpiral > h3{
    font-size: 2.5rem;
    margin-top: 6rem ;
    margin-bottom: 0;
    font-family: 'Libre';
    opacity: 0;
}

.containerTexteSpiral > p{
    font-family: 'Libre';
    text-align: center;
    padding: 1.5rem;
}


.containerTexteSpiral{
    display: flex;
    flex: 1;
    will-change: transform!important;
    align-items: center;
}


.containerElement{
    height: 100%;   
    flex: 0 0 100vw;
    position: relative;
    display: flex;
    align-items:center;
    background: linear-gradient(to top left, #F7F7F7 55%, #ECECEC 50%);
    flex-direction: column;
    justify-content: center;
}

.contentElement{
    display: flex;
    justify-content: end;
    width: 100vw;
    height: 80%;
    position: relative;
    flex-direction: column;
    justify-content: center;

   
}



.contentTitle{
    position: relative;
    padding:1rem
}

.titleProd {
    color: #727272;
    position: absolute;
    font-size: 4rem;
    font-family: 'Italiana';
    z-index: 1;
    text-shadow:
    -1px -1px 0 rgb(255, 255, 255),  
     1px -1px 0 rgb(255, 255, 255),
    -1px  1px 0 rgb(255, 255, 255),
     1px  1px 0 rgb(255, 255, 255);
     top:-3rem;
    left:-25%;
     font-weight: bold;
     margin:0
   
}
.containerImgHorizon > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.3rem;
}

.containerImgHorizon{
    height: 55%;
    width: 70%;
    margin:1rem 1rem 3rem 1rem;
    position: relative;
 
}

.imageElement{
    /*transform: translateY(100%);*/
}

.titleElement{
    /*transform: translateX(150%);*/
  
}

.presentProd{
    width: 100%;
    display: none;
   
}

.presentProdMob{
    display: block;

}

.presentProdMob > span{
    text-align: right;
    
}

.textProd{
    padding: 0 1rem 2rem 0;
    font-family: 'Libre';
    font-size: 0.7rem;
    font-style: italic;
    color:#313131;
    display:block
}

#section5 > .fp-overflow{
    background-color: rgb(0, 0, 0)!important;
    color:rgb(255, 255, 255);
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:1rem 0
}



.informationContact{
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem 0 1rem;
    align-self: start;
    
}

.informationContact > p {
    margin:1rem 0 0 0;
    font-size: 1rem;
    font-family: 'Libre';
    
}

.containerInformContact{
    height: 78svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
    align-items: center;
    
}


.contactReseaux{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding:0 1rem;
    font-family: 'Libre';
}

.fp-watermark{
    display: none!important;
}

.contentElement{
    height: 100%;
    flex-direction: column;
}
.containerImgHorizon{
    margin:0;
    width:45%;
   height: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;

}

.containerImage{
    width: 100%;
    height: 100%;
   
}

.titleProd{
    display: none;
}

.containerElementSpiral{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    height: 70%;
}

.imageElement{
width: 100%;
height: 100%;
object-fit: cover;
padding-bottom: 2rem;
}

.containerTitleSpiral{
    width: 50%;
    color:black;
    align-self: flex-start;

  
}

.info-table{
    display: none;
}

.titleElementDes{
    display: none;
}

.titleElementMob{
    font-size: 4rem;
    margin:0;
    font-family: 'Italiana';
    color: #313131;
    padding-left: 0.5rem;
}

.containerTitleSpiral > p {
   padding-left: 0.6rem;
    font-size: 0.9rem;
    padding-top: 3rem;
    letter-spacing: 0.1rem;
}



@media only screen and (min-width: 481px) and (max-width: 681.99px) {
    /* Vos styles CSS vont ici */
    html{
        font-size: 1.1rem;
    }

    .titreAccueil{
        font-size: 11vw;
    }

    #containerDiv {
        height: 350px;
    }

    .containerSousAccueil > h2,.containerDriven > h2 {
        font-size: 3rem;
    }

    #containerDiv {
        height: 300px;
    }

    .texteBtn > span,.texteBtn > a{
        font-size: 1.2rem;
    }

    .containerDriven > p {
        padding-left: 2rem;
     }

    .containerImgHorizon{
      
        width: 70%;
    }

    .titleProd{
        top:-2.5rem;
        font-size:4rem
    }

    .containerMobilierDesktop > p {
        width: 70vw;
       
    }

    .containerMobilierDesktop{
        padding-right: 1rem;
       
    }

    #circleLogo{
        x:11.5%;
         y:76%;
          height:17%;
           width:17%
    }

 
}



@media only screen and (min-width: 682px) and (max-width: 810.99px) {
    /* Vos styles CSS vont ici */
    html{
        font-size: 1.2rem;
    }

    .titreAccueil{
        font-size: 11vw;
        padding-right: 2rem;
    }

    #containerDiv {
       height: 300px;
    }

    .containerSousAccueil > h2,.containerDriven > h2 {
        font-size: 3rem;
    }

    .containerSousAccueil > p{
        font-size: 1rem;
        padding-right: 7rem;
    }

    .texteBtn > span,.texteBtn > a{
        font-size: 1.2rem;
    }

    .containerDriven > p {
       padding-left: 4rem;
    }

    .containerImgHorizon{
       
       width: 70%;
    }

    .titleProd{
       
        font-size:5rem
    }
 
    .containerMobilierDesktop > p {
        width: 70vw;
        
    }

    .containerMobilierDesktop{
        padding-right: 2rem;
        padding-bottom: 2rem;
       
    }

    #circleLogo{
        x:12.5%;
         y:77%;
          height:15%;
           width:15%
    }
}


@media only screen and (min-width: 811px) and (max-width: 1024.99px) {
 html{
    font-size: 1.1rem;
 }

 #containerDiv {
    height: 300px;
}

.titreAccueil {
    font-size: 11vw;
    padding-right: 3rem;
    padding-top: 2rem;
}

.containerDriven > p{
    padding-left: 5rem;
}

.containerSousAccueil > p{
    font-size: 1rem;
    padding-right: 7rem;
}



.containerMobilierDesktop > p {
    width: 70vw;
   
    letter-spacing: 0.25rem;
   
}


.containerMobilierDesktop {
   
    padding-right: 3rem;
    
    padding-bottom: 2rem;
}


    #circleLogo{
        x:12.5%;
         y:77%;
          height:15%;
           width:15%
    }

    .ligne1{
        transform: scaleX(13);
    }


    
    .containerAdressContact{
        flex-direction: row;
        width: 65%;
        align-self: end;
        justify-content: space-between;
        align-items: end;
        font-size: 0.7rem;
        padding:0 1rem
    }

    .containerTitreContact{
        font-size: 4vw;
        padding-left: 3rem;
    }
}







/* Grands écrans d'ordinateurs/ordinateurs portables */
@media only screen and (min-width: 1025px) {

    html{
        font-size: 1rem;
    }

    .containerBurgerMenu{
        width: 40%;
    }

    .containerAdressContact{
        flex-direction: row;
        width: 55%;
        align-self: end;
        justify-content: space-between;
        align-items: end;
        font-size: 0.7rem;
        padding:0 1rem
    }

    .containerTitreContact{
        font-size: clamp(3rem, 3vw, 5rem);
        padding-left: 3rem;
    }

    .containerTitreContact > img{
       width: 7rem;
    }

    .ligne1{
        transform: scaleX(13);
    }

    /* Vos styles CSS vont ici */
    .titreAccueil{
        font-size: 7rem;
        padding-right: 7rem;
        text-align: left;
        display: inline-block;
        margin:0;
        padding-top:4rem
    }

    .containerAllLienMobilier{
        display: none;
    }

    .containerTitre{
        margin-top: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: end;
        height: 50vh;
    }

    .ligne1 {
        width: 7rem;
    }

    #menuBurger{
        width: 4rem;
        height: 4rem;
        opacity: 0;
    }

    .containerInformation{
        height: 50vh;
        justify-content: space-between;
    }

    .containerMobilierDesktop{
        display: flex;
        justify-content: end;
        padding-top: 6rem;
        padding-bottom: 0;
        padding-right: 7rem;
    }

    .containerMobilierDesktop > p {
        width: 45rem;
        font-size: 1rem;
        letter-spacing: 0.25rem;
    }


    #section1{
        background-image: url('../images/welding2.jpg');
        background-repeat: no-repeat;
        background-position-x: 62%;
        background-position-y: 62%;
        color:white;
        position: relative;
        background-size: 110%;
    }


    .divTest1{
        transform: translateY(100%);
    }

    #containerDiv{
        position: initial;
      height: 60vh;
       margin-top: 0;
       margin-bottom: 2rem;
       transform: translate(0,0);
        
    }

    #section2 > .fp-overflow {
        flex-direction: row;
        align-items: center;
        padding: 0 6rem;
        gap:4rem
    }

    .containerSousAccueil{
       opacity: 1;
    }

    .titreSection2,.textSection2{
        transform: translate(-50%,0);
        opacity: 0;
    }


    .containerSousAccueil,#containerDiv{
        width: 50%;
        
    }

    .containerSousAccueil > h2{
      font-weight: bold;
        font-size: 4.2rem;
    }

    .containerSousAccueil > p{
       
        font-size: 1.2rem;
        line-height: 2rem;
    }


    #section3{
        display: none;
    }


    
    .containerDriven{
position: absolute;
width: 50vw;
right:0;
align-items: flex-start;
text-align: left;
    }



    .texteBtn1{
        display: flex;
        transform: translateY(100%);
       
    }

    .containerDriven > h2 {
        font-size: 4.2rem;
    }

    .containerDriven > p{
        font-size: 1.2rem;
        padding-right: 5rem;
    }

    .containerDriven > span {
        margin-top: 3rem;
    }

    .containerTexteBtn{
        display: block;
        overflow: hidden;
    }


    .texteBtn,.containerSousAccueil > h2{
        padding: 4rem 1rem 1rem 1rem;
    }


    .containerDriven > h2,.containerDriven > span,.containerDriven > p,.containerDriven > a{
        transform: translate(65%);
        opacity: 0.5;
    }


    .divTest4{
        display: none;
    }

    circle {
        cx: 25%;
        cy: 50%;
        r:7%
    }


    #circleLogo{
        x:13.5%;
         y:37.5%;
          height:23%;
           width:23%
    }

    .contentElement{
        height: 100%;
        flex-direction: column;
    }
    .containerImgHorizon{
        margin:0;
        width:50%;
       height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       
    }

    .containerImage{
        width: 100%;
        height: 55%;
    }

    .titleProd{
        display: none;
    }

    .containerElementSpiral{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        overflow: hidden;
    }

   .imageElement{
    width: 100%;
    height: 100%;
    object-fit: cover;
   }

    .containerTitleSpiral{
        width: 50%;
        color:black;
        align-self: flex-start;
        padding-top: 2rem;
        padding-left: 4rem;
       
      
    }

    .containerTitleSpiral1{
        transform: translate(-50%,0);
        opacity: 0;
    }

    .titleElementDes{
        font-size: 7.3rem;
        margin:0;
        font-family: 'Italiana';
    }
    
    .containerTitleSpiral > p {
        padding-right:10rem;
        font-size: 1.2rem;
        padding-top: 2rem;
        letter-spacing: 0.15rem;
        word-spacing: 0.1rem;
        padding-left: 0;
    }


    

    .textProd{
        padding-top: 2.3rem;
    }

    .spanLoad{
        font-size: 10rem;
    }
     
    .info-table {
        font-family: Arial, sans-serif;
        border: 0.0625rem solid #000; /* 1px to rem */
        border-collapse: collapse;
        width: 100%;
        max-width: 18.75rem; /* 300px to rem */
        margin-top: 2rem;
        display: table;
      }
      .info-table th, .info-table td {
        border: 0.0625rem solid #000; /* 1px to rem */
        padding: 0.5rem; /* 8px to rem */
        text-align: left;
      }
      .info-table .title {
        background-color:  #ECECEC;
      }
      .info-table .button-row {
        background-color: #fff;
      }
      .info-table .button {
        display: block;
        width: 100%;
        padding: 0.625rem; /* 10px to rem */
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        border: none;
        background-color: #F7F7F7;
        cursor: pointer;
      }
      .info-table .button:hover {
        background-color: #e8e8e8;
      }
      .info-table .icon {
        float: right;
      }


      .titleElementDes{
        display: block;
    }

    .titleElementMob{
        display: none;
    }

    .presentProd{
        display: block;
        text-align: right;
    }

    .presentProdMob{
        display: none;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1250px) {
    #circleLogo{
        x:17.5%;
         y:42%;
          height:15%;
           width:15%
    }

    .ligne1{
        transform: scaleX(8);
    }
}

@media only screen and (min-device-width : 810px) and (max-device-width : 1280px) and (orientation : landscape) {
    /* Styles */
    .titreAccueil{
        font-size: 5rem;
    }

    .containerMobilierDesktop > p{
        font-size: 0.9rem;
       
    }

    .containerMobilierDesktop{
        padding-top: 2rem;
       
    }
    }

    @media only screen and (min-device-height: 0) 
    and (max-device-height: 428px) 
    and (orientation: landscape) {

        html{
            font-size: 0.7rem;
        }
        .titreAccueil{
         
        }

        .containerMobilierDesktop{
            padding-top: 0;
           
        }
    
        .containerMobilierDesktop > p{
           
          
            padding-bottom: 0;
        }

        .containerSousAccueil > h2{
            
        }

        .containerSousAccueil > p{
            font-size: 0.7rem;
        }
        .rond{
            width: 1.5rem;
            height: 1.5rem;
        }

        #containerDiv {
            height: 115px;
        }
}



.divResize{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    top:0;
    z-index:0;
   
}